*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section{
    width: 100%;
    height: 100vh;
    background: #0b0202;
}

section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5% 8px 5%;
    margin-bottom: 20px;
    background: #171717;
}

section nav .logo h1{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

section nav .logo h1 span{
    color: #ff0004;
    margin-left: 8px;
    text-decoration-style: double;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section nav .right ul{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

section nav .right ul li{
    display: inline-block;
    margin: 0 5px;
}

section nav .right ul li a{
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

section nav .right ul li a:hover{
    color: #ff6600;
    
}



.swiper {
    width: 75%;
    height: 85%;
    border-radius: 20px;
    overflow: hidden;
  }

  .swiper::selection{
    user-select: none;
  }

  .swiper-slide {
    text-align: center;
    font-size: 38px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide .image .black{
    width: 100%;
    height: 60%;
    position: absolute;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.0),rgba(0,0,0,0.9)); */
  }

  .swiper-slide .image .black h1{
    font-size: 30px;
    text-align: left;
    position: relative;
    top: 60%;
    left: 5%;
    color: #fff;
  }

  .swiper-slide .image .black .star{
    color: yellow;
    text-align: left;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black p{
    width: 550px;
    text-align: justify;
    font-size: 16px;
    font-weight: bolder;
    color: #f5f4f2;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
    line-height: 23px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  }

  .swiper-slide .image .black .genre{
    text-align: left;
    font-size: 16px;
    margin: 13px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black .genre a.category{
    background: #282931;
    text-decoration: none;
    color:white;
    padding: 2px 7px;
  }

  .swiper-slide .image .black .genre a.category span{
    color: #ffe100;
  }

  .swiper-slide .image .black .watch{
    width: 700px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 60%;
    left: 5%;
  }

  .swiper-slide .image .black .watch i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #080700;
    border-radius: 50%;
    cursor: pointer;
  }

  .swiper-slide .image .black .watch p{
    position: relative;
    left: 15px;
    font-family: sans-serif;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  


/*--------------*/

.second{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background: #171717;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0),rgba(0,0,0,0.9));
}

.second .latest{
  width: 95%;
  margin: 0 auto;
}

.second .latest h1{
  font-size: 20px;
  color: #060303;
  margin-bottom: 10px;
  font-weight: 500px;
  margin: 10px;
}
.second .latest h1:hover{
  transition:.3s ;
  display: inline-flex;
  transform: translateX(14px);
}



.second .latest .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second .latest .box .card{
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.second .latest .box .card .details{
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
  
}

.second .latest .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
  
}

.second .latest .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.second .latest .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}

.second .latest .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.second .latest .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.second .latest .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.second .latest .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.second .latest .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.second .latest .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.second .latest .box .card .details .left .info .rate{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.second .latest .box .card .details .left .info .rate i{
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.second .latest .box .card .details .left .info .rate p{
  font-size: 12px;
}

.second .latest .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}

.second .latest .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.second .latest .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.second .latest .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.second .latest .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}

.second .latest .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #0c0c0c;
  border-radius: 50%;
  cursor: pointer;
  color: #ededef;
  margin: 0 10px 8px 0;
}

.second .latest .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




/*---------*/

.upcoming{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #171717;
}

.upcoming .movies_box{
  width: 95%;
  margin: 0 auto;
}

.upcoming .movies_box h1{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.upcoming .movies_box h1:hover{
  transition:.3s ;
  display: inline-flex;
  transform: translateX(14px);
}



.upcoming .movies_box .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upcoming .movies_box .box .card{
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.upcoming .movies_box .box .card .details{
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.upcoming .movies_box .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}

.upcoming .movies_box .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.upcoming .movies_box .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.upcoming .movies_box .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}

.upcoming .movies_box .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.upcoming .movies_box .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.upcoming .movies_box .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}

.upcoming .movies_box .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #070f09;
  border-radius: 50%;
  cursor: pointer;
  color: #f4f4f7;
  margin: 0 10px 8px 0;
}

.upcoming .movies_box .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




/*----------*/

.show{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #171717;
}

.show .tv_show{
  width: 95%;
  margin: 0 auto;
}

.show .tv_show h1{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.show .tv_show .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show .tv_show .box .card{
  width: 250px;
  height: 370px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.show .tv_show .box .card .details{
  width: 250px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  transition: 0.3s;
  opacity: 0;
}

.show .tv_show .box .card:hover .details{
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}

.show .tv_show .box .card .details .left{
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateX(-100px);
  transition: 0.4s;
  opacity: 0;
}

.show .tv_show .box .card:hover .details .left{
  opacity: 1;
  transform: translateX(0);
}

.show .tv_show .box .card .details .left p.name{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.show .tv_show .box .card .details .left .date_quality{
  display: flex;
  align-items: center;
}

.show .tv_show .box .card .details .left .date_quality p.quality{
  width: 30px;
  font-size: 13px;
  background: #ffe100;
  color: #282931;
  margin-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.show .tv_show .box .card .details .left .date_quality p.date{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.show .tv_show .box .card .details .left p.category{
  margin-left: 10px;
  font-size: 13px;
  margin-bottom: 8px;
}

.show .tv_show .box .card .details .left .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.show .tv_show .box .card .details .left .info .rate{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.show .tv_show .box .card .details .left .info .rate i{
  font-size: 12px;
  color: #ffd500;
  margin-right: 5px;
}

.show .tv_show .box .card .details .left .info .rate p{
  font-size: 12px;
}

.show .tv_show .box .card .details .left .info .time{
  display: flex;
  align-items: center;
}

.show .tv_show .box .card .details .left .info .time i{
  font-size: 12px;
  color: #ffd500;
  margin-left: 5px;
}

.show .tv_show .box .card .details .left .info .time p{
  font-size: 12px;
  margin-left: 5px;
}

.show .tv_show .box .card .details .right{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  transform: translateX(100px);
  transition: 0.4s;
  opacity: 0;
}

.show .tv_show .box .card:hover .details .right{
  opacity: 1;
  transform: translateX(0);
}

.show .tv_show .box .card .details .right i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #0a0a0a;
  border-radius: 50%;
  cursor: pointer;
  color: #f6f6fb;
  margin: 0 10px 8px 0;
}

.show .tv_show .box .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}




.newsletter{
  width: 100%;
  height: auto;
  padding: 0 0 40px 0;
  background-color: #171717;
}

.newsletter h1{
  text-align: center;
  color: #ffe100;
}

.newsletter .news_card{
  width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.newsletter .news_card input{
  width: 550px;
  height: 55px;
  margin-top: 20px;
  border-radius: 35px;
  border: 3px solid #ff2200;
  padding: 0 10px;
  outline: none;
  background: none;
  color: #cccccc;
}

.newsletter .news_card button{
  position: absolute;
  right: 0;
  width: 100px;
  height: 45px;
  border-radius: 25px;
  margin-top: 20px;
  margin-right: 8px;
  border: 0;
  outline: none;
  background-color: #efefe4;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}


p.end{
  background: #f0ecec;
  text-align: center;
  color: #0e0707;
  padding: 15px 0;
}

p.end span{
  color: #ffe100;
}

p.end span i{
  margin: 0 8px;
}

.icon{
  font-size: 20px;
  
  color: rgb(243, 247, 249);
  
}
footer{
  position: relative;
  width: 100%;
  height: 270px;
  background: #f4f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
 
}
footer p:nth-child(1){
  font-size: 25px;
  column-rule: white;
  margin-bottom: 15px;
  font-weight: bold;
}
footer p:nth-child(2){
  color: white;
  font-size: 10px;
  width: 300px;
  text-align: center;
  line-height: 26px;

}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #070606;
  
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #101417;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  
}
.contact{
  text-decoration: none;
  text-align: center;
  color: rgb(7, 7, 8);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.iconDiv{
  width: 50%;
  height: 50%;
  
}

.copyrights{
  display: flex;
  color: black;

}
.copyrights a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgb(218, 213, 213);
  border-radius: 50%;
  margin: 22px 10px;
}

.copyrights a i{
color: #0a0b0b;
}

.iconDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  
  
}
.icon{
  width:50px;
  height: 40px;
  border: 2px solid;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 10px;
  background-color: rgb(254, 254, 250);
}
.copy{
  color: #ededef;
  justify-content: center;
  
}
